body{
    background-image: url(./bg.jpeg);
    font-family: sans-serif;
    background-size: cover;
}


#txt1{
    height: 150%;
    width: 500px;
    text-align: center;
}

#frmmm{
    margin-top: 0%;
    text-align: center;
    color: aliceblue;
}


.slidecontainer {
    width: 150px;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px;
    background: #04AA6D; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px; 
    background: #04AA6D;
    cursor: pointer;
  }

.button {
  background: #bdbdbd;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 10px 15px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 10px ;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button:active {
  opacity: .5;
}