<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summerizer</title>
</head>
<body>
<form action="index()" method="post">
    <textarea name="inputdata" cols="30" rows="10" placeholder="Enter your data to summerize" required="required"></textarea>
    <button type="submit" value="summerize" class="but">Submit</button>
</form>
<h3>Summerized Text</h3>
<textarea rows="10" cols="30" name="result">{{result}}</textarea>

</body>
</html>